<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <title>Blog</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-tokenfield.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/editormd.min.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-tokenfield.min.js}"></script>
    <script th:src="@{/js/editormd.min.js}"></script>
    <script th:src="@{/js/jquery.tagcloud.js}"></script>
    <script th:src="@{/js/style.js}"></script>
    <script th:src="@{/js/jquery.cookie.js}"></script>
</head>

<header th:fragment="header">
    <div class="row">
    <div class="col-md-2 col-md-offset-1 row logo"><a th:href="@{/}">BlackBlog</a></div>
    <div class="col-md-5 col-md-offset-4 navigation">
        <ul class="row">
            <li class="col-md-2"><a id="home" th:href="@{/}"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
            <li class="col-md-2"><a id="project" href="/archive"><i class="fa fa-server" aria-hidden="true"></i>Archive</a></li>
            <li class="col-md-2"><a id="life" href="/about"><i class="fa fa-heart" aria-hidden="true"></i>About</a></li>
            <li class="col-md-2" th:if="${session.user==null}"><a id="about" th:href="@{https://github.com/login/oauth/authorize?client_id=e335ff8bb4d93e79e232&redirect_uri=http://localhost:8080/callback&scope=user&state=1}"><i class="fa fa-user" aria-hidden="true"></i>Login</a></li>
            <li class="col-md-2" th:if="${session.user!=null}"><a href="#"><img class="img-rounded"th:src="${session.user.avatarUrl}" height="20" width="20" th:text="${session.user.name}"></a></li>
            <li th:if="${session.account!=null}" class="col-md-2"><a id="create" th:href="@{/create}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    </div>
</header>

<footer th:fragment="footer">
    <div th:fragment="footer_row" class="row">
        <div class="col-md-1 col-md-offset-5 author"><span>@刘金伟的博客</span></div>
        <ul class="col-md-3 row">
            <div class="col-md-1"><a href="http://weibo.com/2108395461"><i class="fa fa-weibo" aria-hidden="true"></i></a></div>
            <div class="col-md-1"><a href="#"><i class="fa fa-qq" aria-hidden="true"></i></a></div>
            <div class="col-md-1"><a href="#"><i class="fa fa-weixin" aria-hidden="true"></i></a></div>
            <div class="col-md-1"><a href="https://github.com/zhenyutu"><i class="fa fa-github" aria-hidden="true"></i></a></div>
        </ul>
    </div>
    <div th:fragment="footer_power" class="power"><p><span>本站总阅读量$!{clickCount.sumPage}次</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>本文总阅读量$!{clickCount.currentPage}次</span></p></div>
</footer>
</html>